.sidenav {
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 170px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; 
    top: 47.5px; /* Stay at the top */
    left: 0;
    background-color:white; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 80px;
    margin-left: 15px;
    border: 1px;
    border-style: solid;
    border-color: #E5E5E5;
    overflow-y: scroll;
    top: 40px;
    bottom: 0;

}
.main{
    margin-left: 160px; 
    padding: 0px 10px 0px 10px;
    background-color:#e4dadace;
    height: 100%;
    
}
.card{
    float: left;
    height: 300px;
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 20px;
    z-index: auto;
}

.card-body{
    background-color: white;
    border: 1px;
    border-color: #888888;
    height: 15%
}
.card-text{
    line-height: 11px;
    font-size: 13px;
    margin-top: -9px;
}
.card-img-top{
    height:85%;
}
.card:hover{
    border:1px;
    box-shadow: 2px 2px 5px #888888;
}
.main .btn:hover{
    box-shadow: 3px 3px 5px #888888;
}
.breadcrumb{
    padding-top: 60px;
    height: 85px;
   
    /* box-shadow: 0px 2px 2px #888888; */
}
.breadcrumb >.active a {
    color: #888888;
    text-decoration: none;
 }
.price, .check-text{
    display: inline-block;
}
.price{
    margin-left: 15px;
}
.check-text{
    margin-left: 5px;
    font-size: 13px
}
.sidenav h4{
    font-size: 13px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ddd;
    padding-bottom: 7px;
    padding-top: 7px;
    background-color: #ddd;
    margin-top: 0px;
    margin-bottom: 0px;
}
.category-li{
    list-style-type: none;
    text-decoration: none;
    font-size: 13px;
    line-height: 30px;
}  
.category-li a{
    text-decoration: none;
}
#mycategory{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ddd;
    margin-bottom: 0px;
}
#mybrand {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
#mybrand li{
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: white;
    padding: 5px;
    padding-left: 10px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    display: block;
    border: none;
    list-style-type: none;
}
#myUL li a:hover:not(.header) {
    background-color: #eee;
}
.brand-go{
    margin-left: 110px;
    margin-bottom: 10px;
    color: white;
    background-color: rebeccapurple;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px; 
    padding-right: 20px;
    border-radius: 3px;
    font-size: 13px;
}
.brand-text, .price-text,.category-text,.color-text{
    padding-left: 10px;
    font-size: 12px;
}
.brand-text, .brand-plus, .brand-minus{
      display: inline-block;
}
.brand-plus, .brand-minus{
    margin-left: 80px;  
    font-size: 13px;
    cursor: pointer;
}
.price-enter{
    margin-left: 10px;  
    font-size: 12px;
}
.price-text, .price-plus, .price-minus{
      display: inline-block;
}
.price-plus, .price-minus{
      font-size: 13px;
      margin-left: 90px;
      cursor: pointer;
}
.prices{
    border-top: 1px solid #ddd;
}

.min-value, .max-value, .to {
      display: inline-block;
}
.price-go{
    margin-left: 5px;
    color: white;
    background-color: rebeccapurple;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
}

.color-plus, .color-minus{
    font-size: 13px;
    margin-left: 83px;
    cursor: pointer; 
}
.color-text, .color-plus{
    display: inline-block;
}
.colors{
    border-top: 1px solid #ddd
}
.badge{
    margin-left: 10px;
}
.color-text{
    padding-top: 5px;
    padding-bottom: 5px;
}