  <div class="container-fluid"> 
  <img [src]='product.imageUrl' class="center">
  <div class="text">
    <!-- <b>{{product.ProductName}} :
    {{product.ProductDescription}}
    </b> -->
    <p>A cherry is the fruit of many plants of the genus Prunus, and is a fleshy drupe (stone fruit). ... Wild cherry may refer to any of the cherry species growing outside cultivation, although Prunus avium is often referred to specifically by the name "wild cherry" in the British Isles.</p>
    <hr>
    <button type="button" class="btn btn-outline-primary">Add to wishlist</button>
    <button type="button" class="btn btn-primary">Add to cart</button>
  </div> 
  </div>
 

