p{
    padding-top: 70px;
}
 
img{
    height: 350px;
}
/* .carousel{
    padding-top: 70px;
} */
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 60%;
      margin: auto;
  }
.categories{
    position: absolute;
}
.col-sm-6 .image1, .image2{
width: 100%;
padding-bottom: 5px;
padding-top: 7px;
padding-right: 5px;
}
.col-sm-6 .image1{
    height: 400px;
    margin-top: 5px;
}
.col-sm-6 .image2{
    height: 200px;
}
.col-sm-6 .image3, .image4{
    width: 100%;
    padding-bottom: 5px;
    padding-top: 7px;
    }
.col-sm-6 .image3{
        height: 200px;
        margin-top: 5px;
    }
.col-sm-6 .image4{
        height: 400px;
    }
    
    .navbar {
        overflow: visible;
        background-color: white;
        font-family: sans-serif;
        margin-top: 70px;
        margin-bottom: 0px;
    }
    
    .dropdown {
        padding-left: 4px;
        overflow: visible;
    }
    
    .dropdown .dropbtn {
        font-size: 16px;    
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        font: inherit;
        margin: 0;
    }
    .dropdown:hover{
        border-bottom: 2px;
        border-bottom-style: solid;
        border-bottom-color: crimson;
    }
    
    .navbar a:hover, .dropdown:hover {
        background-color: white;
    }
    
    .dropdown-content {
        display: none;
        background-color: white;
        width: 100%;
        left: 0;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        text-align: left;
        position: fixed;
        
    }

    .dropdown:hover .dropdown-content {
        display: block;
        margin-top: 10px
    }
    
    /* Create three equal columns that floats next to each other */
    .column {
        left:0;
        width: 33.33%;
        padding: 10px;
        background-color: white;
        height: 370px;
    }
    .column h3{
        font-size: 15px;
        color: rebeccapurple;
        margin-left: 45%;
    }
    .column a {
        float: none;
        color: black;
        padding: 16px;
        text-decoration: none;
        display: block;
        font-size: 13px;
        line-height: 2px;
        margin-left: 45%;
    }
    
    .column a:hover {
        background-color: #ddd;
    }
    
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    
    
