<!-- <p>
  categories works!
</p> -->
<div class="conainer main" >

</div>
<div class="container">
    
    <!-- <div class="row">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  CATEGORIES
                </button>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li class="dropdown-submenu" *ngFor ='let category of Categories'>
                      <div  class="dropdown-item" tabindex="-1" href="#">{{category.categoryName}}</div>
                     <ul class="dropdown-menu">
                        <li class="dropdown-item"><a tabindex="-1" href="#">{{category.subcategory.sub1}}</a></li>
                        <li class="dropdown-item"><a tabindex="-1" href="#">{{category.subcategory.sub2}}</a></li>
                        <li class="dropdown-item"><a tabindex="-1" href="#">{{category.subcategory.sub3}}</a></li>
                      </ul>
                    </li>
                </ul> 
            </div>
     </div> -->
     <div class="navbar">
        <div class="dropdown" *ngFor ='let category of Categories'>{{category.categoryName}}
          <button class="dropbtn">
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">   
            <div class="row">
              <div class="column">
                <h3>{{category.subcategory.sub1.list1}}</h3>
                <a href="#">{{category.subcategory.sub1.list2}}</a>
                <a href="#">{{category.subcategory.sub1.list3}}</a>
                <a href="#">{{category.subcategory.sub1.list4}}</a>
                <a href="#">{{category.subcategory.sub1.list5}}</a>
                <a href="#">{{category.subcategory.sub1.list6}}</a>
                <a href="#">{{category.subcategory.sub1.list7}}</a>
                <a href="#">{{category.subcategory.sub1.list8}}</a>
                <a href="#">{{category.subcategory.sub1.list9}}</a>
              </div>
              <div class="column">
                <h3>{{category.subcategory.sub2.list1}}</h3>
                <a href="#">{{category.subcategory.sub2.list2}}</a>
                <a href="#">{{category.subcategory.sub2.list3}}</a>
                <a href="#">{{category.subcategory.sub2.list4}}</a>
                <a href="#">{{category.subcategory.sub2.list5}}</a>
                <a href="#">{{category.subcategory.sub2.list6}}</a>
                <a href="#">{{category.subcategory.sub2.list7}}</a>
                <a href="#">{{category.subcategory.sub2.list8}}</a>
                <a href="#">{{category.subcategory.sub2.list9}}</a>
              </div>
              <div class="column">
                <h3>{{category.subcategory.sub3.list1}}</h3>
                <a href="#">{{category.subcategory.sub3.list2}}</a>
                <a href="#">{{category.subcategory.sub3.list3}}</a>
                <a href="#">{{category.subcategory.sub3.list4}}</a>
                <a href="#">{{category.subcategory.sub3.list5}}</a>
                <a href="#">{{category.subcategory.sub3.list6}}</a>
                <a href="#">{{category.subcategory.sub3.list7}}</a>
                <a href="#">{{category.subcategory.sub3.list8}}</a>
                <a href="#">{{category.subcategory.sub3.list9}}</a>
              </div>
            </div>
          </div>
        </div> 
      </div>
  
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="1000" >
      <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="1000">
        <img class="d-block w-100" src="../assets/carousel/fashion.jpg" [routerLink]="['/products']" alt="First slide">
      </div>
      <div class="carousel-item" data-interval="1000">
        <img class="d-block w-100" src="../assets/carousel/grocery.jpg" [routerLink]="['/products']" alt="Second slide">
      </div>
      <div class="carousel-item" data-interval="1000">
        <img class="d-block w-100" src="../assets//carousel/kitchen.jpg" [routerLink]="['/products']" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
    <div class="col-lg-10 col-lg-push-1 col-md-10 col-md-push-1 col-sm-12 col-xs-12 col-xss-12 middle-banner-wrapper">
      <div class="col-sm-6 col-md-6">
          <img class="image1" src="../assets/grid/girls.jpg" [routerLink]="['/products']">
          <img class="image2" src="../assets/grid/image2-1.jpg" [routerLink]="['/products']">
      </div>
      <div class="col-sm-6 col-md-6">
          <img class="image3" src="../assets/grid/grains.jpg" [routerLink]="['/products']">
          <img class="image4" src="../assets/grid/market.jpg"[routerLink]="['/products']">  
        </div>
      </div>
</div>

