<!-- <p>
  categories works!
</p> -->
<div class="conainer main">

</div>
<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="1000">
      <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="1000">
        <img class="d-block w-100" src="../assets/carousel/fashion.jpg" [routerLink]="['/products']" alt="First slide">
      </div>
      <div class="carousel-item" data-interval="1000">
        <img class="d-block w-100" src="../assets/carousel/grocery.jpg" [routerLink]="['/products']" alt="Second slide">
      </div>
      <div class="carousel-item" data-interval="1000">
        <img class="d-block w-100" src="../assets//carousel/kitchen.jpg" [routerLink]="['/products']" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
    <div class="col-lg-10 col-lg-push-1 col-md-10 col-md-push-1 col-sm-12 col-xs-12 col-xss-12 middle-banner-wrapper">
      <div class="col-sm-6 col-md-6">
          <img class="image1" src="../assets/grid/girls.jpg" [routerLink]="['/products']">
          <img class="image2" src="../assets/grid/image2-1.jpg" [routerLink]="['/products']">
      </div>
      <div class="col-sm-6 col-md-6">
          <img class="image3" src="../assets/grid/grains.jpg" [routerLink]="['/products']">
          <img class="image4" src="../assets/grid/market.jpg"[routerLink]="['/products']">  
        </div>
      </div>
</div>

